#http://www.publicdomainpictures.net/pictures/40000/nahled/badge-shield-black-clipart.jpg
badge-shield-black-clipart.jpg
#http://www.clipartpanda.com/clipart_images/shield-clip-art-vector-clip-14296117
shield-clipart-acqejBoKi.svg